$primary: #3D5A80;
$secondary: #8D8480;
$success: #09cc7f;
$info: #E0FBFC;
$warning: #ffff88;
$danger: #EE6C4D;
$light: #F5F5F8;
$dark: #293241;
$btn-focus-box-shadow: none !important;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
@import '~bootstrap/scss/bootstrap';

* {
  transition-duration: 300ms;
}

body,
html {
  font-family: 'Mulish', sans-serif;
}

.no-list>li {
  list-style: none;
  font-size: 0.8rem;
}